//Layout
$width-mobile:375px;
$width-desktop:1440px;

//Colors

$color-dark-blue:hsl(240, 38%, 20%);
$color-white:white;
$color-grayish-blue: hsl(240, 18%, 77%);


//Typography

$font-size:32px;
$font-family: 'Inter',
sans-serif;
$font-light:300;
$font-medium:500;
$font-bold:700;

$shadow:0px 5px 10px 1px rgba(0, 0, 0, 0.2);

body {
    background-color: $color-white;
    margin: 0;
    padding: 0;
}

.container, .attribution{
    margin-left: auto;
    margin-right: auto;
    max-width: $width-desktop;
}

.container-slide {
    height: 100vh;
    background: url("./../images/pattern-curve.svg") left bottom no-repeat;

}

.slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.text,
.image {
    align-self: center;

}

.text {
    margin-right: -50px;
    z-index: 2;
    font-family: $font-family;
    justify-self: end;
    color: $color-dark-blue;
    position: relative;
    top: 0;
    left: 0;
}
.image-quotes{
    position: absolute;
    top: -40px;
    left: 100px;
}

.description {
    
    font-weight: $font-light;
    font-size: $font-size;

}

.label {
    color: $color-grayish-blue;
}

.label strong {
    color: $color-dark-blue;
}

.image {
    position: relative;
    top: 0;
    left: 0;
    height: 540px ;
    
}

// .photo .image-background{
//     position: absolute;
// }
.photo {
    z-index: 1;
    position: absolute;
    border-radius: 5px;

}

.image-background {
    z-index: -1;
    position: relative;
    top: -65px;
    left: -70px;

}

.attribution {
    text-align: center;
    font-family: $font-family;
    background-color: $color-dark-blue;
    color: $color-grayish-blue ;
    padding: 1em;
    
}
.attribution a{
    // text-decoration: none;
    color: $color-grayish-blue ;
}

.controls{
    z-index: 2;
    position: absolute;
    bottom: -25px;
    left: 40px;
    background-color: $color-white;
    height: 50px;
    width: 100px;
    border-radius: 40px;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    justify-content: space-around;
}